html{
	
}
body {
}
text {
	text-align: center
	white-space:pre
}
h1 {
	color: black;
	text-align: center;
	font-family: "Courier New";
	font-size: 20px;
}
h1 span{

	padding: 10px;
	font-size: 13px;
}
h2 {
	color: black;
	text-align: center;
}
h2 span{
	background-color: red;
	padding: 10px;
	border-style: outset;
	border-color: red;
	border-width: 3px;
}
.column {
	float: left;
	width: 50%;
}